html {
    width: auto;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    height: 100%;
    line-height: 1.6;
    overflow: auto;
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .flexContainer {
    display: flex;
    flex-wrap: nowrap;
    height: 500px;
    justify-content: center;
    margin-top: 20px;
    transition: 2s all ease;
    width: 100%;
  }
  
  .flex-item {
    background: #3498db;
    border: 1pt solid #2980b9;
    transition: 0.2s all ease;
    width: 10px;
  }
  
  .rank {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
  }
  
  #input {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    transition: transform 0.2s;
  }
  
  .sortingButton {
    background-color: #27ae60;
    color: #ffffff;
    height: 50px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 5px;
    transition: transform 0.2s ease;
    width: 120px;
  }
  
  .sortingButton:hover {
    background-color: #1e8449;
    transform: scale(1.1);
  }
  
  .sortingButtonPause {
    background-color: #e74c3c;
    color: #ffffff;
    height: 50px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 5px;
    width: 120px;
  }
  
  .button {
    background-color: #f39c12;
    color: #ffffff;
    height: 50px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 5px;
    transition: transform 0.2s ease;
    width: 150px;
  }
  
  .button:hover {
    background-color: #d35400;
    transform: scale(1.1);
  }
  
  .buttonPause {
    background-color: #e74c3c;
    color: #ffffff;
    height: 50px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 5px;
    width: 150px;
  }
  
  header {
    background-color: #2c3e50;
    margin: 0;
    overflow: auto;
    padding: 20px;
    position: static;
    color: #ffffff;
  }
  
  .Action {
    background-color: #190769;
    display: flex;
    flex-flow: column;
    min-height: calc(100vh - 120px);
    padding: 20px;
  }
  
  footer {
    flex: 0 0 0 0;
  }  